
body {
    background-color: paleturquoise;

    h1 {
        color: white !important;
        text-shadow: 0 0 10px black;
    }
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    
    .login-page-form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left:auto;
        margin-right:auto;
        margin-top: 1rem;
        input {
            border-radius: 1rem;
            padding: 1rem;
        }
        button {
            font-size: 2rem;
            margin-top: 2rem;
            border-radius: 1rem;
            padding: 1rem;
        }
        //add drop shadow
        button:hover {
            background-color: blueviolet;
        }
    }
}